---
import Sidebar from "../../components/Sidebar.astro";
import BannerLayout from "../../layouts/BannerLayout.astro";
import AboutSelector from "../../components/AboutSelector.jsx";
import { getContent } from "cross:content";
import Icon from "../../components/Icon.astro";
import Blocks from "../../components/Blocks.jsx";

const page = await getContent('pages', {
    first: 1,
    slug: 'about'
});

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<BannerLayout title={`${page?.title} – CROSS`}>
    <style is:inline>
        .breadcrumb {
            pointer-events: auto;
        }
        .header {
            pointer-events: none;
        }
        .header .site-header__contents > div {
            pointer-events: auto;
        }
    </style>
    <div class="post__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li class="is-active">
                    <span>
                        <AboutSelector about={true} server:defer client:load />
                        <Icon name="caret-down" size={12} />
                    </span>
                </li>
            </ol>
        </nav>
        <section class="page main">
            <h2 class="single__title" set:html={page?.title}></h2>
            <article class="single__contents" data-dir="ltr">
                <Blocks data={page?.content?.full.blocks} client:load />
            </article>
            <footer class="single__footer"></footer>
        </section>
    </div>
    <Sidebar overlap={true} />
</BannerLayout>
