---
import Sidebar from "../../../components/Sidebar.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { getContent } from "cross:content";
import Picture from "../../../components/Picture";
import Icon from "../../../components/Icon.astro";

const post = await getContent('chapters', {
    slug: Astro.params.chapter
});

export async function getStaticPaths() {
    const data = await getContent('chapters');
    const paths = data.map(chapter => ({
        params: { story: chapter.story.slug, chapter: chapter.slug }
    }));

    return paths;
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<MainLayout title={`${post?.title} – ${post?.story.title} – CROSS`}>
    {post?.story.content.images.background && (
            <div class="banner summary-blur__image-wrapper">
                <Picture
                        alt={post?.story.title}
                        className="summary-blur__image"
                        source={
                            {
                                '(max-width: 959px)': {
                                    media: post?.story.content.images.background,
                                    params: {
                                        'width': 360,
                                        'height': 196,
                                        'blur': 64,
                                        'gamma': 0.5,
                                        'fit': 'cover'
                                    }
                                },
                                '(min-width: 960px)': {
                                    media: post?.story.content.images.background,
                                    params: {
                                        'width': 960,
                                        'height': 196,
                                        'blur': 64,
                                        'gamma': 0.5,
                                        'fit': 'cover'
                                    }
                                }
                            }
                        }
                />
            </div>
    )}
    <div class="post__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/public">Home</a>
                </li>
                <li>
                    <a href="/stories">Stories</a>
                </li>
                <li>
                    <a href={post?.story.path} set:html={post?.story.title}></a>
                </li>
                <li class="is-active">
                    <span set:html={post?.title}></span>
                </li>
            </ol>
        </nav>
        <section class="post main">
            <h2 class="single__title" set:html={post?.title}></h2>
            <article class="single__contents" data-dir="ltr" set:html={post?.content.full}></article>
            <footer class="single__footer"></footer>
            <nav class="pagination-single">
                {
                    post?.adjacentPosts.previous && post?.adjacentPosts.previous.slug !== post?.slug && (
                        <a class="pagination-single__left" href={post.adjacentPosts.previous.path}>
                            <div class="pagination-single__icon">
                                <Icon name={'nav-left'} size={25} />
                            </div>
                            <div class="pagination-single__left-title">Previous Chapter</div>
                        </a>
                    )
                }
                <div class="grow"></div>
                {
                    post?.adjacentPosts.next && post?.adjacentPosts.next.slug !== post?.slug && (
                        <a class="pagination-single__right" href={post.adjacentPosts.next.path}>
                            <div class="pagination-single__right-title">Next Chapter</div>
                            <div class="pagination-single__icon">
                                <Icon name={'nav-right'} size={25} />
                            </div>
                        </a>
                    )
                }
            </nav>
        </section>
    </div>
    <Sidebar />
</MainLayout>
