---
import Sidebar from "../../../components/Sidebar.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { getContent } from "cross:content";
import Picture from "../../../components/Picture.astro";

const story = await getContent('stories', {
    first: 1,
    slug: Astro.params.story
});

export async function getStaticPaths() {
    const data = await getContent('stories');
    const paths = data?.stories.map(story => ({
        params: { story: story.slug }
    }));

    return paths;
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---
<MainLayout title={`${story?.title} – CROSS`} description={story?.content.summary}>
    {
        story?.content.images.background && (
            <div class="banner summary-blur__image-wrapper">
                <Picture
                    alt={story?.title}
                    className="summary-blur__image"
                    source={[
                        {
                            media: '(max-width: 959px)',
                            url: story.content.images.background.source,
                            params: {
                                cover: [360, 196],
                                focus: story.content.images.background.focalPoint
                            }
                        },
                        {
                            media: '(min-width: 960px)',
                            url: story.content.images.background.source,
                            params: {
                                cover: [960, 196],
                                focus: story.content.images.background.focalPoint
                            }
                        }
                    ]}
                />
            </div>
        )
    }
    <style is:inline>
        @media screen and (max-width: 959px) {
            .story__header {
                grid-template-columns: 1fr !important;
            }
            .summary-blur__image {
                filter: blur(64px) saturate(2) contrast(2) !important;
            }
        }
    </style>
    <div class="story__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/stories">Stories</a>
                </li>
                <li class="is-active">
                    <span set:html={story?.title}></span>
                </li>
            </ol>
        </nav>
        <header class="list__header story__header">
            <Picture
                alt={story?.title}
                className="summary-cover__image"
                source={[
                    {
                        media: '(max-width: 959px)',
                        url: story.content.images.banner.source,
                        params: {
                            cover: [1200, 600],
                            focus: story.content.images.banner.focalPoint
                        }
                    },
                    {
                        media: '(min-width: 960px)',
                        url: story.content.images.cover.source,
                        params: {
                            cover: [128, 192],
                            focus: story.content.images.cover.focalPoint
                        }
                    }
                ]}
            />
            <div>
                <h5 class="list__header--title list__header--story capitalize h5" set:html={story?.title}></h5>
                <div set:html={story?.content.summary} style="color:#fff;"></div>
            </div>
        </header>
        <div class="summary__container" data-display="block">
            <ul class="chapter__list chapter__list--single">
                {
                    story?.content.chapters.list.map((chapter) => (
                        <li>
                            <span class="chapter__title">
                                <a href={chapter?.path} set:html={chapter?.title}></a>
                            </span>
                            <span class="chapter__meta">
                                <span class="chapter__words">{chapter?.wordCount.formatted} words</span>
                                <span class="chapter__published">{chapter?.date.formatted}</span>
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <Sidebar />
</MainLayout>
