---
import Sidebar from "../../../components/Sidebar.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { getContent } from "cross:content";
import Picture from "../../../components/Picture";

const story = await getContent('stories', {
    first: 1,
    slug: Astro.params.story
});

export async function getStaticPaths() {
    const data = await getContent('stories');
    const paths = data?.stories.map(story => ({
        params: { story: story.slug }
    }));

    return paths;
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---
<MainLayout title={`${story?.title} – CROSS`} description={story?.content.summary}>
    <style>
        @media screen and (max-width: 959px) {
            .story__header {
                grid-template-columns: 1fr !important;
            }
        }
    </style>
    {
        story?.content.images.background && (
            <div class="banner summary-blur__image-wrapper">
                <Picture
                    alt={story?.title}
                    className="summary-blur__image"
                    source={
                        {
                            '(max-width: 959px)': {
                                media: story?.content.images.background,
                                params: {
                                    'width': 360,
                                    'height': 196,
                                    'blur': 64,
                                    'gamma': 0.5,
                                    'fit': 'crop'
                                }
                            },
                            '(min-width: 960px)': {
                                media: story?.content.images.background,
                                params: {
                                    'width': 960,
                                    'height': 196,
                                    'fit': 'crop'
                                }
                            }
                        }
                    }
                />
            </div>
        )
    }
    <div class="story__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/stories">Stories</a>
                </li>
                <li class="is-active">
                    <span set:html={story?.title}></span>
                </li>
            </ol>
        </nav>
        <header class="list__header story__header">
            <Picture
                alt={story?.title}
                className="summary-cover__image"
                source={
                    {
                        '(max-width: 959px)': {
                            media: story?.content.images.banner,
                            params: {
                                'width': 1200,
                                'height': 600,
                                'fit': 'cover'
                            }
                        },
                        '(min-width: 960px)': {
                            media: story?.content.images.cover,
                            params: {
                                'width': 128,
                                'height': 192,
                                'fit': 'cover'
                            }
                        }
                    }
                }
            />
            <div>
                <h5 class="list__header--title list__header--story capitalize h5" set:html={story?.title}></h5>
                <div set:html={story?.content.summary} style="color:#fff;"></div>
            </div>
        </header>
        <div class="summary__container" data-display="block">
            <ul class="chapter__list chapter__list--single">
                {
                    story?.content.chapters.list.map((chapter) => (
                        <li>
                            <span class="chapter__title">
                                <a href={chapter?.path} set:html={chapter?.title}></a>
                            </span>
                            <span class="chapter__meta">
                                <span class="chapter__words">{chapter?.wordCount.formatted} words</span>
                                <span class="chapter__published">{chapter?.date.formatted}</span>
                            </span>
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
    <Sidebar />
</MainLayout>
