---
import Sidebar from "../../../../components/Sidebar.astro";
import MainLayout from "../../../../layouts/MainLayout.astro";
import PostSummary from "../../../../components/PostSummary.astro";
import { getContent } from "cross:content";

const topic = await getContent('topics', {
    slug: Astro.params.topic
});

// Define the number of posts per page
const postsPerPage = 10;
const pageNum = parseInt(Astro.params.pageNum) || 1;

// Fetch the initial page of posts
const initialData = await getContent('posts', {
    first: postsPerPage,
    topic: Astro.params.topic
});
let posts = initialData.posts;
let endCursor = initialData.paginate.cursor;
let hasNextPage = initialData.paginate.nextPage;

// If there are more pages, fetch additional posts using the endCursor
if (pageNum > 1) {
    for (let i = 1; i < pageNum; i++) {
        if (hasNextPage) {
            const data = await getContent('posts', {
                first: postsPerPage,
                after: endCursor,
                topic: Astro.params.topic
            });
            posts = data.posts;
            endCursor = data.paginate.cursor;
            hasNextPage = data.paginate.nextPage;
        }
    }
}

export async function getStaticPaths() {
    const topics = await getContent('topics'); // Assuming this fetches all topics
    const postsPerPage = 10; // Set your posts per page
    let paths = [];

    // Loop through each topic
    for (const topic of topics) {
        // Fetch posts for this specific topic
        const { posts } = await getContent('posts', { topic: topic.slug });

        // Calculate the number of pages based on the number of posts
        const totalPages = Math.ceil(posts.length / postsPerPage);

        // Generate paths for each page
        for (let page = 1; page <= totalPages; page++) {
            const path = {
                params: {
                    topic: topic.slug
                },
            };
            paths.push(path);
        }
    }

    return paths;
}

Astro.response.headers.set('Cache-Control', 'max-age=600, must-revalidate');
---

<MainLayout title={`${topic?.label} – CROSS`} description={topic?.content.summary}>
    <div class="list__main lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/archive">Archive</a>
                </li>
                <li>
                    <a href="/archive/topics">Topics</a>
                </li>
                <li class="is-active">
                    <span>{topic?.label}</span>
                </li>
            </ol>
        </nav>
        <div class="summary__container" data-display="block">
            {posts.map((post) => (
                    <PostSummary data={post}></PostSummary>
            ))}
            <hr class="hr-slash nav-hr">
            <nav class="pagination-single">
                {pageNum > 1 && (
                    <a href={pageNum - 1 === 1 ? `/archive/topics/${topic?.slug}` : `/archive/topics/${topic?.slug}/page/${pageNum - 1}`} class="pagination-single__left">
                        <div class="pagination-single__icon">
                            <svg class="icon" width="25" height="25" role="img">
                                <use href="#icon-nav-left"></use>
                            </svg>
                        </div>
                        <div class="pagination-single__left-title">Newer Entries</div>
                    </a>
                )}
                <div class="grow"></div>
                {hasNextPage && (
                    <a href={`/archive/topics/${topic?.slug}/page/${pageNum + 1}`} class="pagination-single__right">
                        <div class="pagination-single__right-title">Older Entries</div>
                        <div class="pagination-single__icon">
                            <svg class="icon" width="25" height="25" role="img">
                                <use href="#icon-nav-right"></use>
                            </svg>
                        </div>
                    </a>
                )}
            </nav>
        </div>
    </div>
    <Sidebar />
</MainLayout>
