---
import Picture from "../Picture.astro";
const { data: block } = Astro.props;
const { data: bookmark } = JSON.parse(block.renderedHtml);
---

<figure class={'bookmark tw-app'}>
    <a href={bookmark.source} target={`_blank`}
       class={`block bg-[#1D1F2E] !text-white hover:!text-[#D2C100] rounded-[6px] !no-underline overflow-hidden px-5 py-3 my-2.5 w-full`}>
        <div class={`grid grid-cols-[auto_1fr] auto-rows-min gap-4 max-h-min items-stretch mb-auto after:hidden`}>
            <Picture
                    alt={bookmark.title}
                    className="absolute inset-0 w-full max-h-full object-cover rounded-[6px] !m-auto"
                    classNamePicture="thumb relative min-w-[72px] w-[72px] break:min-w-[100px] break:w-[100px] max-h-full rounded-[6px] overflow-hidden"
                    source={[
                        {
                            media: '(max-width: 959px)',
                            url: bookmark.thumbnail,
                            params: {
                                resize: [72]
                            }
                        },
                        {
                            media: '(min-width: 960px)',
                            url: bookmark.thumbnail,
                            params: {
                                resize: [100]
                            }
                        }
                    ]}
            />
            <div class={`flex flex-col gap-2 flex-grow w-full`}>
                <div class="flex flex-row items-center gap-2">
                    <strong class={`text-inherit line-clamp-2 md:line-clamp-1 text-sm md:text-base`} set:html={bookmark.title} />
                </div>
                <div class={`text-white/75 text-sm line-clamp-4 md:text-base md:line-clamp-3`} set:html={bookmark.excerpt} />
                <div class={`flex flex-row gap-1.5 text-white/50 text-xxs md:text-xs items-center justify-between mt-auto`}>
                    <span set:html={bookmark.author} />
                    <span class={`flex flex-row gap-1.5 items-center ml-auto`}>
                        <Fragment set:html={bookmark.site} />
                        <Picture
                            alt={bookmark.site}
                            class="block w-[14px] h-[14px] rounded"
                            source={[
                                {
                                    url: bookmark.icon,
                                    params: {
                                        cover: [14, 14]
                                    }
                                }
                            ]}
                        />
                    </span>
                </div>
            </div>
        </div>
    </a>
</figure>