---
import Sidebar from "../../../components/Sidebar.astro";
import MainLayout from "../../../layouts/MainLayout.astro";
import { singleChapterQuery, allChapterSlugsQuery } from "../../../lib/api.js";
import { format } from "date-fns";
import Picture from "../../../components/Picture.astro";

const { chapters } = await singleChapterQuery( Astro.params.chapter );
const post = chapters.nodes[0];

export async function getStaticPaths() {
    const data = await allChapterSlugsQuery();
    const paths = data?.chapters.nodes.map(chapter => ({
        params: { slug: chapter.story[0].slug, chapter: chapter.slug }
    }));

    return paths;
}
---

<MainLayout title={`${post?.title} – ${post?.story[0]?.name} – CROSS`}>
    <div class="banner summary-blur__image-wrapper">
        <Picture
            alt={post?.story[0]?.name}
            class="summary-blur__image"
            source={
                {
                    '(max-width: 959px)': {
                        media: post?.story[0]?.images[0]?.background,
                        params: {
                            'width': 360,
                            'height': 196,
                            'blur': 256,
                            'sat': 200
                        }
                    },
                    '(min-width: 960px)': {
                        media: post?.story[0]?.images[0]?.background,
                        params: {
                            'width': 960,
                            'height': 196,
                            'blur': 256,
                            'sat': 200
                        }
                    }
                }
            }
        />
    </div>
    <div class="post__wrapper lm">
        <nav class="breadcrumb" aria-label="breadcrumbs">
            <ol>
                <li>
                    <a href="/public">Home</a>
                </li>
                <li>
                    <a href="/stories">Stories</a>
                </li>
                <li>
                    <a href={`/stories/${post?.story[0]?.slug}`} set:html={post?.story[0]?.name}></a>
                </li>
                <li class="is-active">
                    <span set:html={post?.title}></span>
                </li>
            </ol>
        </nav>
        <section class="post main">
            <h2 class="single__title" set:html={post?.title}></h2>
            <article class="single__contents" data-dir="ltr" set:html={post?.content}></article>
            <footer class="single__footer"></footer>
            <nav class="pagination-single">
                {
                    post?.previousPost && post?.previousPost?.slug !== post?.slug && (
                        <a class="pagination-single__left" href={`/stories/${post?.story[0]?.slug}/${post?.previousPost?.slug}`}>
                            <div class="pagination-single__icon">
                                <svg class="icon icon-nav-left" width="25" height="25" role="img">
                                    <use href="#icon-nav-left"></use>
                                </svg>
                            </div>
                            <div class="pagination-single__left-title">Previous Chapter</div>
                        </a>
                    )
                }
                <div class="grow"></div>
                {
                    post?.nextPost && post?.nextPost?.slug !== post?.slug && (
                        <a class="pagination-single__right" href={`/stories/${post?.story[0]?.slug}/${post?.nextPost?.slug}`}>
                            <div class="pagination-single__right-title">Next Chapter</div>
                            <div class="pagination-single__icon">
                                <svg class="icon icon-nav-right" width="25" height="25" role="img">
                                    <use href="#icon-nav-right"></use>
                                </svg>
                            </div>
                        </a>
                    )
                }
            </nav>
        </section>
    </div>
    <Sidebar />
</MainLayout>
