---
import {format} from "date-fns";
import Parse from "html-react-parser";
import Picture from "./Picture";
const { data } = Astro.props;
---

<article class="summary-classic">
    <div class={`summary-classic__flex-box`}>
        {
            data.content.thumbnail && (
                <div class="summary-classic__image-container summary-classic__image-wrapper" data-position="right">
                    <a href={data.path}>
                        <Picture
                                alt={data?.title}
                                className="summary-classic__image"
                                source={
                                    {
                                        '(max-width: 959px)': {
                                            media: data.content.thumbnail,
                                            params: {
                                                'width': 1200,
                                                'height': 600,
                                                'fit': 'crop'
                                            }
                                        },
                                        '(min-width: 960px)': {
                                            media: data.content.thumbnail,
                                            params: {
                                                'width': 256,
                                                'height': 256,
                                                'fit': 'crop'
                                            }
                                        }
                                    }
                                }
                        />
                    </a>
                </div>
            )
        }
        <div class="summary-classic__content">
            <header>
                <h5 class="title h5">
                    <a href={data.path} set:html={data.title}></a>
                </h5>
                <h6 class="subtitle caption">
                    {
                        data.pinned && (
                            <span dir="ltr">
                                <svg class="icon" width="15" height="15" role="img">
                                    <use href="#icon-pin"></use>
                                </svg>
                                &nbsp;Pinned
                            </span>
                        )
                    }
                    <time dir="ltr">
                        <svg class="icon" width="15" height="15" role="img">
                            <use href="#icon-calendar"></use>
                        </svg>
                        &nbsp;{data.date.formatted}
                    </time>
                    <span dir="ltr">
                        <svg class="icon" width="15" height="15" role="img">
                            <use href="#icon-coffee"></use>
                        </svg>
                        &nbsp;{Parse(data.readingTime.formatted)}
                    </span>
                </h6>
            </header>
            <div>
                <div class="summary-classic__text p2" set:html={data.content.excerpt}></div>
            </div>
        </div>
    </div>
    <hr>
</article>