---
import SearchForm from "./Search.astro";
import Picture from "./Picture.jsx";
import Status from "./StatusAlt.jsx";
import Location from "./Location.jsx";
import { getContent } from "cross:content";

const primaryMenu = await getContent('navigation');
const { profile, content, taxonomies } = await getContent('sidebar');
const { show = true, overlap = false, search = null } = Astro.props;
---

<aside class={`list__sidebar ${show === true ? '' : 'hide__sidebar'} r`} data-dir="ltr">
    {
        show !== true && (
            <style is:inline>
                .page__wrapper {
                    grid-area: 1/1/2/4 !important;
                }
            </style>
        )
    }
    <div class="sidebar">
        <SearchForm search={search} />
        <nav class="sidebar__nav">
            {primaryMenu.map(menuItem => {
                return <a href={menuItem.uri || '/'} class="navbar__menu-item navbar__slide-down" dir="ltr">{menuItem.label}</a>;
            })}
        </nav>
        <style>
            .list__sidebar {
                -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,.25));
                filter: drop-shadow(0 2px 4px rgba(0,0,0,.25));
            }
            .sidebar__nav {
                margin: 12px 0 16px;
            }
            @media screen and (min-width: 960px) {
                .sidebar__nav {
                    display: none !important;
                }
            }
            .hr-slash.bio-hr {
                display: block !important;
            }
        </style>
        <section class="bio" data-dir="ltr">
            <hr class="hr-slash bio-hr"/>
            <div class="bio__photo-wrapper">
                <Picture
                    alt={profile.name}
                    className="bio__photo"
                    source={
                        {
                            null: {
                                media: profile.photo,
                                params: {
                                    'width': 225,
                                    'height': 150,
                                    'fit': 'crop'
                                }
                            }
                        }
                    }
                />
            </div>
            <hr class="hr-slash bio-hr"/>
            <div class="bio__name">
                <span>{profile.name}</span>
            </div>
            <div class="bio__desc">{profile.bio}</div>
            <div class="bio__info" title="When was I born?">
                <div class="bio__info--icon">
                    <svg class="icon" width="20" height="20" role="img">
                        <use href="#icon-candle"/>
                    </svg>
                </div>
                <time datetime={profile.birthdate.raw} itemprop="birthday">{profile.birthdate.formatted}</time>
            </div>
            <Status client:load/>
            <!--<div class="bio__info" title="Who am I?">-->
            <!--    <div class="bio__info&#45;&#45;icon"><?php wolfhead_icon( 'about', 20 ); ?></div>-->
            <!--    <a href="<?php echo get_the_permalink( get_field( 'page', 'wp_settings' )->ID ); ?>"><?php echo get_the_title( get_field( 'page', 'wp_settings' )->ID ); ?></a>-->
            <!--</div>-->
            <!--<div class="bio__info" title="Where am I?">-->
            <!--    <div class="bio__info&#45;&#45;icon">-->
            <!--        <svg class="icon" width="20" height="20" role="img">-->
            <!--            <use href="#icon-marker"></use>-->
            <!--        </svg>-->
            <!--    </div>-->
            <!--    <a href={profile.location.url} target="_blank">{profile.location.string}</a>-->
            <!--</div>-->
            <div class="bio__info" title="Email me">
                <div class="bio__info--icon">
                    <svg class="icon" width="20" height="20" role="img">
                        <use href="#icon-mailbox"></use>
                    </svg>
                </div>
                <a href={profile.email.url} target="_blank">{profile.email.string}</a>
            </div>
            <Location client:load/>
        </section>
    </div>
    <hr class="hr-fade sidebar-hr">
    <section class="sidebar-recent">
        <a href="/blog" class="sidebar-recent__title p2">Entries</a>
        <ul class="sidebar-recent__ul">
            {
                content.posts.map(post => {
                    return (
                        <li>
                            <a href={post.path} class="sidebar-recent__a p2">{post.title}</a>
                        </li>
                    )
                })
            }
        </ul>
    </section>
    {
        content.chapters && (
            <hr class="hr-fade sidebar-hr">
            <section class="sidebar-recent">
                <a href="/stories" class="sidebar-recent__title p2">Chapters</a>
                <ul class="sidebar-recent__ul">
                    {
                        content.chapters.map(({chapter, story}) => {
                            return (
                                <li>
                                    <a href={chapter.path} class="sidebar-recent__a p2" style="display:inline-flex;flex-direction:column;">
                                        <small style="line-height:1;text-indent:0;">{story.title}</small>
                                        <span style="line-height:1;text-indent:0;">{chapter.title}</span>
                                    </a>
                                </li>
                            )
                        })
                    }
                </ul>
            </section>
        )
    }
    <hr class="hr-fade sidebar-hr">
    <div class="taxo-root">
        {
            taxonomies.series.length > 0 && (
                <div class="taxo">
                    <section>
                        <span class="title p2"><a href="/archive/series" class="taxo__title">Series</a></span>
                        {
                            taxonomies.series.map(series => {
                                return (
                                    <span class="tag"><a href={series.path} class="is-series taxo__link" data-dir="ltr"><span class="taxo__text">{series.label}</span>&nbsp;<span class="taxo__num" dir="auto">{series.count}</span></a></span>
                                )
                            })
                        }
                    </section>
                </div>
            )
        }
        {
            taxonomies.topics.length > 0 && (
                <div class="taxo">
                    <section>
                        <span class="title p2"><a href="/archive/topics" class="taxo__title">Topics</a></span>
                        {
                            taxonomies.topics.map(category => {
                                return (
                                    <span class="tag"><a href={category.path} class="is-categories taxo__link" data-dir="ltr"><span class="taxo__text">{category.label}</span>&nbsp;<span class="taxo__num" dir="auto">{category.count}</span></a></span>
                                )
                            })
                        }
                    </section>
                </div>
            )
        }
        {
            taxonomies.tags.length > 0 && (
                <div class="taxo">
                    <section>
                        <span class="title p2"><a href="/archive/tags" class="taxo__title">Tags</a></span>
                        {
                            taxonomies.tags.map(tag => {
                                return (
                                    <span class="tag"><a href={tag.path} class="is-tags taxo__link" data-dir="ltr"><span class="taxo__text">{tag.label}</span>&nbsp;<span class="taxo__num" dir="auto">{tag.count}</span></a></span>
                                )
                            })
                        }
                    </section>
                </div>
            )
        }
    </div>
</aside>