---
import { navQuery, sidebarQuery } from "../lib/api.js";
import { format } from "date-fns";
import SearchForm from "./Search.astro";
import Picture from "./Picture.jsx";
import Status from "./Status.jsx";

const { menus } = await navQuery();
const primaryMenu = menus.nodes[0];

const data = await sidebarQuery();
const sidebar = data.sidebar;
const posts = data.posts.nodes;
const chapters = data.chapters.nodes;
const allSeries = data.allSeries.nodes;
const categories = data.categories.nodes;
const tags = data.tags.nodes;

const { show = true, overlap = false, search = null } = Astro.props;
---

<aside class={`list__sidebar ${show === true ? '' : 'hide__sidebar'} r`} data-dir="ltr">
    {
        show !== true && (
            <style is:inline>
                .page__wrapper {
                    grid-area: 1/1/2/4 !important;
                }
            </style>
        )
    }
    { overlap === true && (
        <style>
            .list__sidebar {
                margin-top: -189px;
            }
        </style>
    )}
    <div class="sidebar">
        <SearchForm search={search} />
        <nav class="sidebar__nav">
            {primaryMenu.menuItems.nodes.map(menuItem => {
                return <a href={menuItem.uri || '/'} class="navbar__menu-item navbar__slide-down" dir="ltr">{menuItem.label}</a>;
            })}
        </nav>
        <style>
            .sidebar__nav {
                margin: 12px 0 16px;
            }
            @media screen and (min-width: 960px) {
                .sidebar__nav {
                    display: none !important;
                }
            }
            .hr-slash.bio-hr {
                display: block !important;
            }
        </style>
        <section class="bio" data-dir="ltr">
            <hr class="hr-slash bio-hr" style="-webkit-filter:drop-shadow(0 2px 4px rgba(0,0,0,.25));filter:drop-shadow(0 2px 4px rgba(0,0,0,.25));"/>
            <div class="bio__photo-wrapper">
                <Picture
                    alt={sidebar.profile.name}
                    className="bio__photo"
                    source={
                        {
                            null: {
                                media: sidebar.profile,
                                params: {
                                    'width': 225,
                                    'height': 150,
                                    'fit': 'crop'
                                }
                            }
                        }
                    }
                />
            </div>
            <hr class="hr-slash bio-hr"/>
            <div class="bio__name">
                <span>{sidebar.name}</span>
                <Status client:load/>
            </div>
            <div class="bio__desc">{sidebar.bio}</div>
            <div class="bio__info" title="When was I born?">
                <div class="bio__info--icon">
                    <svg class="icon" width="20" height="20" role="img">
                        <use href="#icon-candle"/>
                    </svg>
                </div>
                <time datetime={sidebar.birthdate} itemprop="birthday">{format(new Date(sidebar.birthdate), 'MMM. d, yyyy')}</time>
            </div>
            <!--<div class="bio__info" title="Who am I?">-->
            <!--    <div class="bio__info&#45;&#45;icon"><?php wolfhead_icon( 'about', 20 ); ?></div>-->
            <!--    <a href="<?php echo get_the_permalink( get_field( 'page', 'wp_settings' )->ID ); ?>"><?php echo get_the_title( get_field( 'page', 'wp_settings' )->ID ); ?></a>-->
            <!--</div>-->
            <div class="bio__info" title="Where am I?">
                <div class="bio__info--icon">
                    <svg class="icon" width="20" height="20" role="img">
                        <use href="#icon-marker"></use>
                    </svg>
                </div>
                <a href={`https://www.google.com/maps/place/${encodeURIComponent(sidebar.location)}/`} target="_blank">{sidebar.location}</a>
            </div>
            <div class="bio__info" title="Email me">
                <div class="bio__info--icon">
                    <svg class="icon" width="20" height="20" role="img">
                        <use href="#icon-mailbox"></use>
                    </svg>
                </div>
                <a href={`mailto:${sidebar.email}`} target="_blank">{sidebar.email}</a>
            </div>
        </section>
    </div>
    <hr class="hr-fade sidebar-hr">
    <section class="sidebar-recent">
        <a href="/blog" class="sidebar-recent__title p2">Entries</a>
        <ul class="sidebar-recent__ul">
            {
                posts.map(post => {
                    return (
                        <li>
                            <a href={`/blog/${post.series}/${post.slug}`} class="sidebar-recent__a p2">{post.title}</a>
                        </li>
                    )
                })
            }
        </ul>
    </section>
    {
        chapters && (
            <hr class="hr-fade sidebar-hr">
            <section class="sidebar-recent">
                <a href="/stories" class="sidebar-recent__title p2">Chapters</a>
                <ul class="sidebar-recent__ul">
                    {
                        chapters.map(chapter => {
                            return (
                                <li>
                                    <a href={`/stories/${chapter.story[0].slug}/${chapter.slug}`} class="sidebar-recent__a p2" style="display:inline-flex;flex-direction:column;">
                                        <small style="line-height:1;text-indent:0;">{chapter.story[0].name}</small>
                                        <span style="line-height:1;text-indent:0;">{chapter.title}</span>
                                    </a>
                                </li>
                            )
                        })
                    }
                </ul>
            </section>
        )
    }
    <hr class="hr-fade sidebar-hr">
    <div class="taxo-root">
        {
            allSeries.length > 0 && (
                <div class="taxo">
                    <section>
                        <span class="title p2"><a href="/archive/series" class="taxo__title">Series</a></span>
                        {
                            allSeries.map(series => {
                                return (
                                    <span class="tag"><a href={`/blog/${series.slug}`} class="is-series taxo__link" data-dir="ltr"><span class="taxo__text">{series.name}</span>&nbsp;<span class="taxo__num" dir="auto">{series.count}</span></a></span>
                                )
                            })
                        }
                    </section>
                </div>
            )
        }
        {
            categories.length > 0 && (
                <div class="taxo">
                    <section>
                        <span class="title p2"><a href="/archive/topics" class="taxo__title">Topics</a></span>
                        {
                            categories.map(category => {
                                return (
                                    <span class="tag"><a href={`/archive/topics/${category.slug}`} class="is-categories taxo__link" data-dir="ltr"><span class="taxo__text">{category.name}</span>&nbsp;<span class="taxo__num" dir="auto">{category.count}</span></a></span>
                                )
                            })
                        }
                    </section>
                </div>
            )
        }
        {
            tags.length > 0 && (
                <div class="taxo">
                    <section>
                        <span class="title p2"><a href="/archive/tags" class="taxo__title">Tags</a></span>
                        {
                            tags.map(tag => {
                                return (
                                    <span class="tag"><a href={`/archive/tags/${tag.slug}`} class="is-tags taxo__link" data-dir="ltr"><span class="taxo__text">{tag.name}</span>&nbsp;<span class="taxo__num" dir="auto">{tag.count}</span></a></span>
                                )
                            })
                        }
                    </section>
                </div>
            )
        }
    </div>
</aside>