---
import Picture from "./Picture";
const { data } = Astro.props;
---

<article class="summary-classic">
    <div class="summary-classic__flex-box">
        {
            data.content.images.banner && (
                <div class="summary-classic__image-container summary-classic__image-wrapper" data-position="right">
                    <a href={data.path}>
                        <Picture
                                alt={data?.title}
                                className="summary-classic__image"
                                source={
                                    {
                                        '(max-width: 959px)': {
                                            media: data.content.images.banner,
                                            params: {
                                                'width': 1200,
                                                'height': 600,
                                                'fit': 'crop'
                                            }
                                        },
                                        '(min-width: 960px)': {
                                            media: data.content.images.cover,
                                            params: {
                                                'width': 256,
                                                'height': 256,
                                                'fit': 'crop'
                                            }
                                        }
                                    }
                                }
                        />
                    </a>
                </div>
            )
        }
        <div class="summary-classic__content">
            <header>
                <h5 class="title h5">
                    <a href={data.path} set:html={data.title}></a>
                </h5>
            </header>
            <div>
                <div class="summary-classic__text p2" set:html={data.content.summary}></div>
            </div>
        </div>
    </div>
    <hr>
</article>