---
import Picture from "./Picture";
import Parse from "html-react-parser";
const { data } = Astro.props;
---

<article class="summary-classic">
    <div class="summary-classic__flex-box">
        {
            data.content.images.cover && (
                <div class="summary-classic__image-container summary-classic__image-wrapper summary-classic__image-wrapper--story" data-position="right">
                    <a href={data.path}>
                        <Picture
                                alt={data?.title}
                                className="summary-classic__image"
                                source={
                                    {
                                        '(max-width: 959px)': {
                                            media: data.content.images.banner,
                                            params: {
                                                'width': 1200,
                                                'height': 600,
                                                'fit': 'cover'
                                            }
                                        },
                                        '(min-width: 960px)': {
                                            media: data.content.images.cover,
                                            params: {
                                                'width': 256,
                                                'height': 384,
                                                'fit': 'cover'
                                            }
                                        }
                                    }
                                }
                        />
                    </a>
                </div>
            )
        }
        <div class="summary-classic__content">
            <header>
                <h5 class="title h5">
                    <a href={data.path} set:html={data.title}></a>
                </h5>
            </header>
            <div>
                <div class="summary-classic__text p2" set:html={data.content.summary}></div>
            </div>
        </div>
    </div>
    {data.content.chapters.count > 2 && (
            <ul class="chapter__list">
                {
                    data?.content.chapters.list.slice(0, 2).map((chapter) => (
                            <li>
                                    <span class="chapter__title">
                                        <a href={chapter?.path} set:html={chapter?.title}></a>
                                    </span>
                                <span class="chapter__meta">
                                        <span class="chapter__words">{chapter?.wordCount.formatted} words</span>
                                        <span class="chapter__published">{chapter?.date.formatted}</span>
                                    </span>
                            </li>
                    ))
                }
                {(
                        <li>
                                <span class="chapter__more">
                                    <a href={data.path}>{Parse(`${(data.content.chapters.count - 2) ? `${(data.content.chapters.count - 2)} ` : ''}more chapters&hellip;`)}</a>
                                </span>
                        </li>
                )}
                {
                    data?.content.chapters.list.slice(-1).map((chapter) => (
                            <li>
                                    <span class="chapter__title">
                                        <a href={chapter?.path} set:html={chapter?.title}></a>
                                    </span>
                                <span class="chapter__meta">
                                        <span class="chapter__words">{chapter?.wordCount.formatted} words</span>
                                        <span class="chapter__published">{chapter?.date.formatted}</span>
                                    </span>
                            </li>
                    ))
                }
            </ul>
    )}
    {data.content.chapters.count === 2 && (
            <ul class="chapter__list">
                {
                    data?.content.chapters.list.slice(0, 1).map((chapter) => (
                            <li>
                                    <span class="chapter__title">
                                        <a href={chapter?.path} set:html={chapter?.title}></a>
                                    </span>
                                <span class="chapter__meta">
                                        <span class="chapter__words">{chapter?.wordCount.formatted} words</span>
                                        <span class="chapter__published">{chapter?.date.formatted}</span>
                                    </span>
                            </li>
                    ))
                }
                {/*(
                    <li>
                        <span class="chapter__more">
                            <a href={data.path}>{Parse(`${(data.content.chapters.count - 2) ? `${(data.content.chapters.count - 2)} ` : ''}more chapters&hellip;`)}</a>
                        </span>
                    </li>
                )*/}
                {
                    data?.content.chapters.list.slice(-1).map((chapter) => (
                            <li>
                                    <span class="chapter__title">
                                        <a href={chapter?.path} set:html={chapter?.title}></a>
                                    </span>
                                <span class="chapter__meta">
                                        <span class="chapter__words">{chapter?.wordCount.formatted} words</span>
                                        <span class="chapter__published">{chapter?.date.formatted}</span>
                                    </span>
                            </li>
                    ))
                }
            </ul>
    )}
    {data.content.chapters.count === 1 && (
            <ul class="chapter__list">
                {
                    data?.content.chapters.list.map((chapter) => (
                            <li>
                                        <span class="chapter__title">
                                            <a href={chapter?.path} set:html={chapter?.title}></a>
                                        </span>
                                <span class="chapter__meta">
                                            <span class="chapter__words">{chapter?.wordCount.formatted} words</span>
                                            <span class="chapter__published">{chapter?.date.formatted}</span>
                                        </span>
                            </li>
                    ))
                }
            </ul>
    )}
    <!--<hr>-->
</article>